<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/welcome"
        (click)="removeToken()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Change Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="title">
    Hi,{{username$ | async}}, you can change password in here!
  </div>
  <div id="passwordContainer">
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        [placeholder]="password"
        [(ngModel)]="password"
        (ionFocus)="displayErrorPasswordMessage()"
        (ionChange)="checkPasswordLength(password)"
        (keyup)="changePasswordWithEnter($event)"
      ></ion-input>
    </ion-item>
    <ng-container *ngIf="displayErrorPasswordMessageBoolean">
      <div [hidden]="errorOfPasswordBoolean" style="color: red">
        {{errorOfPassword}}
      </div>
    </ng-container>
    <ion-button
      (click)="changePassword()"
      [disabled]="!checkPasswordLength(password)"
      >Click Here</ion-button
    >
  </div>
</ion-content>
